.offers {
    padding: 2.5em 1.25em;

    &__informative-text {
        color: $color-grey;
        font-family: $font-archivo;
        font-size: 0.85rem;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: 0.15rem;
        margin-bottom: 1em;
    }

    &__inner {
        padding: 1em 1em;
    }

    &__title {
        font-family: $font-standard;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 3rem;
        letter-spacing: -0.1rem;
        margin-bottom: .5em;

        a {
            color: $bg-black;
            text-decoration: none;
        }
    }

    &__text {
        color: $color-grey;
        font-family: $font-roboto;
        font-size: 0.85rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0rem;
        margin-bottom: 1.5em;
    }

    &__price {
        color: $bg-beige;
        font-family: $font-archivo;
        font-weight: 700;
        color: #de5777;

        span {
            &:nth-child(1) {
                font-size: 30px;
                line-height: 32px;
                letter-spacing: 0px;
            }

            &:nth-child(2) {
                font-size: 12px;
                line-height: 13px;
                letter-spacing: 0px;
            }
        }

        &--crossed {
            color: $bg-beige;
            text-align: end;
            text-decoration: line-through;
            span {
                &:nth-child(1) {
                    font-size: 23px;
                    line-height: 25px;
                    letter-spacing: 0px;
                }

                &:nth-child(2) {
                    font-size: 11px;
                    line-height: 11px;
                    letter-spacing: 0px;
                }
            }
        }
    }

    &__content-img {
        position: relative;
        width: fit-content;
        height: fit-content;
    }

    &__img {
        width: 21rem;
        height: 10.1rem;
    }

    &__prices {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    &__button {
        display: block;
        width: 15.8em;
        height: 4.4em;
        border: 0em;
        font-family: $font-archivo;
        font-size: 0.85em;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: 0.15rem;
        background-color: #bead8e;

        a {
            color: $color-white;
            text-decoration: none;
        }
    }

    &__amenities {
        margin-bottom: 2em;
    }
}
