.offers__popular-rooms {
    padding: 0em 1.25em;
    background-color: $bg-black;

    &-informative-text {
        color: $bg-beige;
        font-family: $font-archivo;
        font-size: 0.85rem;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: 0.15rem;
        margin-bottom: 1em;
    }

    &-title {
        font-family: $font-standard;
        font-size: 2.5rem;
        font-weight: 400;
        line-height: 3rem;
        letter-spacing: -0.1rem;
        margin-bottom: 1em;
    }

    .offers__swiper {
        &-slide {
            width: 100%;
            margin-bottom: 0em;
        }
    }
}