.banner {
    background-color: #333333;
    position: relative;
    padding: 0em 0.5em;
    padding-top: 8em;
    padding-bottom: 5em;

    &__title {
        color: $color-white;
        font-family: $font-standard;
        font-size: 3.5em;
        font-weight: 400;
        margin-bottom: .5em;
    }

    &__text {
        width: 50%;
        color: $color-white;
        font-family: $font-archivo;
        font-size: 0.8em;
        font-weight: 700;
        margin-bottom: 2em;
    }

    &__button {
        display: block;
        width: 20em;
        height: 4em;
        border: 0em;
        color: $color-white;
        font-family: $font-archivo;
        font-size: 0.85em;
        font-weight: 700;
        background-color: #bead8e;

        &:not(:last-child) {
            margin-bottom: 2em;
        }

        &--transparent {
            background-color: transparent;
            border: 0.15em solid #ffffff54;
        }
    }
}