.banner {
    background-color: #333333;
    padding: 0em 1.25em;
    padding-top: 8em;
    padding-bottom: 5em;

    &__title {
        color: $color-white;
        font-family: $font-standard;
        font-size: 3.5rem;
        font-weight: 400;
        margin-bottom: 0.5em;
        line-height: 1.4em;
        letter-spacing: -0.1rem;
    }

    &__text {
        width: 50%;
        color: $color-white;
        font-family: $font-archivo;
        font-size: 0.8em;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: 0.18rem;
        margin-bottom: 2em;
    }

    &__button {
        display: block;
        width: 15.8em;
        height: 4.4em;
        border: 0em;
        color: $color-white;
        font-family: $font-archivo;
        font-size: 0.85em;
        font-weight: 700;
        background-color: #bead8e;
        font-family: Archivo;
        line-height: 1rem;
        letter-spacing: 0.15rem;

        &:not(:last-child) {
            margin-bottom: 2em;
        }

        &--transparent {
            background-color: transparent;
            border: 0.15em solid #ffffff54;
        }
    }
}

@media (min-width: 1000px) {
    .banner {
        padding: 0em 0em;
        padding-top: 8em;
        padding-bottom: 7.5em;

        &__inner {
            width: 100%;
            margin: 0 auto;
        }

        &__title {
            width: 100%;
            font-size: 7.5rem;
            margin-bottom: 0.5em;
            line-height: 8.1rem;
            letter-spacing: -0.22rem;
        }

        &__text {
            width: 100%;
        }

        &__button {
            display: inline-block;

            &:not(:last-child) {
                margin-bottom: 0em;
                margin-right: 2em;
            }
        }
    }
}
