.menu {
    
    &__title {
        font-family: $font-standard;
        font-size: 56px;
        font-weight: 400;
    }

    &__article {
        display: flex;
        gap: 10px;

        &-img {
            width: 40px;
            height: 40px;
        }

        &-text {

        }
    }

    &__button {
        color: $color-white;
        background-color: $bg-beige;
    }
}