$font-standard: "Old Standard TT", serif;
$font-archivo: "Archivo", sans-serif;
$font-roboto: "Roboto", sans-serif;
$color-light: #fff;
$color-main: #111;
$color-main-alternative: #222;
$color-secondary: #bead8e;
$color-terciary: #333;
$text-color-secondary: #777;

@import "style/header.scss";
@import "style/footer.scss";
@import "style/home.scss";
@import "style/about.scss";
@import "style/rooms.scss";
@import "style/rooms-details.scss";
@import "style/offers.scss";
@import "style/contact.scss";
@import "style/swiper";
@import "style/button";
@import "style/font-title";
@import "style/banner";

html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    color: $color-main-alternative;
}

.upper__case {
    text-transform: uppercase;
}

.--max-width {
    max-width: 74rem;
}