$font-standard: "Old Standard TT", serif;
$font-archivo: "Archivo", sans-serif;
$font-roboto: "Roboto", sans-serif;
$color-white: #FFF;
$color-black: #111;
$color-grey: #777;
$bg-black: #222;
$bg-grey: #333;
$bg-beige: #BEAD8E;

@import 'style/header.scss';
@import 'style/footer.scss';
@import 'style/home.scss';
@import 'style/about.scss';

html, * { 
    box-sizing: border-box; 
    margin: 0;
    padding: 0
}
    
body {
    min-width: 320px
}

.upper__case {
    text-transform: uppercase;
}

.--max-width {
    max-width: 74rem;
}