.header {
  padding: 1em 1em;
  width: 100%;
  background-size: contain;
  position: relative;
  box-shadow: 0em 0.1em 0.2em 0em rgba(0, 0, 0, 0.2901960784);
}
.header__nav {
  width: 100%;
  display: none;
  position: absolute;
  bottom: -7em;
  left: 0;
  background-color: #FFF;
}
.header__nav-list {
  padding: 1em 1em;
  list-style-type: none;
}
.header__nav-list-item {
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
.header__logo {
  display: inline-block;
  width: 60%;
}
.header__logo-img {
  box-shadow: 0em 0.9em 1.5em 0em rgba(139, 139, 139, 0.2509803922);
  width: 2.3em;
  height: 2.3em;
  display: inline-block;
  padding: 0.8em 0.8em;
  margin-right: 0.5em;
}
.header__logo-title {
  display: inline-block;
  vertical-align: top;
  padding-top: 0.6em;
}
.header__icons {
  display: inline-block;
  width: 20%;
  vertical-align: sub;
}
.header__icons-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}
.header__icons-icon:not(:last-child) {
  margin-right: 0.5em;
}
.header__menu {
  display: inline-block;
  margin-right: 2em;
}
.header__menu-x {
  margin-right: 2.25em;
  display: none;
}

.footer__logo {
  display: inline-block;
  width: 60%;
}
.footer__logo-img {
  box-shadow: 0em 0.9em 1.5em 0em rgba(139, 139, 139, 0.2509803922);
  width: 2.3em;
  height: 2.3em;
  display: inline-block;
  padding: 0.8em 0.8em;
  margin-right: 0.5em;
}
.footer__logo-title {
  display: inline-block;
  vertical-align: top;
  padding-top: 0.6em;
}

.banner {
  background-color: #333333;
}
.banner__title {
  color: #FFF;
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
}
.banner__text {
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
.banner__button {
  display: block;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 700;
  background-color: #BEAD8E;
}
.banner__button--transparent {
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.3294117647);
}

.about-us {
  /*
      about us archivo 700 13px
  */
}
.about-us__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
}
.about-us__text {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.about-us__button {
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  background-color: #BEAD8E;
}
.about-us__features-img {
  width: 270px;
  height: 300px;
}
.about-us__features-feature-img {
  width: 68px;
  height: 50px;
}
.about-us__features-feature-title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 30px;
}
.about-us__features-feature-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.checking {
  background-color: #222222;
}
.checking__label {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  size: 1rem;
}
.checking__input {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.checking__button {
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  background-color: #BEAD8E;
}

.facilities__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
}

.intro-video {
  background-color: #222;
}
.intro-video__title {
  color: #FFF;
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
}
.intro-video__text {
  color: #C2C2C2;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.intro-video__video {
  width: 80%;
  height: 80%;
}
.intro-video__button {
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #BEAD8E;
}

.menu__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
}
.menu__article {
  display: flex;
  gap: 10px;
}
.menu__article-img {
  width: 40px;
  height: 40px;
}
.menu__button {
  color: #FFF;
  background-color: #BEAD8E;
}

.rooms__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 56px;
}

.stats {
  background-color: #222;
}
.stats__article-img {
  width: 24px;
  height: 24px;
}
.stats__article-title {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.stats__article-title-plus {
  font-size: 14px;
}
.stats__article-text {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #999999;
}

/*font-family: Archivo;
font-size: 1rem;
font-weight: 600;
color: #111111;

font-family: Archivo;
font-size: 13px;
font-weight: 700;*/
.rooms__swiper, .facilities__swiper, .menu__swiper {
  width: 80%;
  height: 100px;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

/*# sourceMappingURL=styles.css.map */
