.header {
  padding: 1em 1em;
  width: 100%;
  background-size: contain;
  position: fixed;
  background-color: #fff;
  box-shadow: 0em 0.25em 0.4em 0em rgba(0, 0, 0, 0.2901960784);
  z-index: 1;
}
.header__nav {
  width: 100%;
  display: none;
  position: absolute;
  bottom: -10.5em;
  left: 0;
  background-color: #FFF;
  box-shadow: 0em 0.3em 0.25em 0em rgba(0, 0, 0, 0.2901960784);
  height: 12.35em;
  z-index: -1;
}
.header__nav-list {
  padding: 2.75em 1.5em;
  list-style-type: none;
  padding-bottom: 0em;
}
.header__nav-list-item {
  padding: 0.5em 0em;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
}
.header__logo {
  display: inline-block;
  width: 60%;
}
.header__logo-img {
  box-shadow: 0em 0.9em 1.5em 0em rgba(139, 139, 139, 0.2509803922);
  width: 2.3em;
  height: 2.3em;
  display: inline-block;
  padding: 0.8em 0.8em;
  margin-right: 0.5em;
}
.header__logo-title {
  display: inline-block;
  vertical-align: top;
  padding-top: 0.6em;
}
.header__icons {
  display: inline-block;
  width: 20%;
  vertical-align: sub;
}
.header__icons-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
}
.header__icons-icon:not(:last-child) {
  margin-right: 1em;
}
.header__menu {
  display: inline-block;
  margin-right: 2em;
}
.header__menu-x {
  margin-right: 2.25em;
  display: none;
}

@media (min-width: 1000px) {
  .bg-color {
    background: #222;
    padding-top: 3em;
    height: 10vh;
  }
  .header {
    margin: 0 auto;
    padding: 2em 2em;
    width: 80%;
    position: sticky;
    background-color: #FFF;
    box-shadow: 0em 0em 0em 0em;
  }
  .header__nav {
    width: 60%;
    display: inline-block;
    gap: 1em;
    position: relative;
    bottom: 0;
    box-shadow: 0em 0em 0em 0em;
    height: fit-content;
  }
  .header__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 0em 0em;
    padding-bottom: 0em;
  }
  .header__logo {
    display: inline-block;
    width: 20%;
    text-align: end;
  }
  .header__logo-title {
    display: inline-block;
    vertical-align: top;
    padding-top: 0.6em;
  }
  .header__icons {
    width: 15%;
    vertical-align: bottom;
  }
  .header__icons-icon {
    border: 0.1em #777 solid;
    padding: 0.5em;
    width: 3em;
    height: 3em;
    vertical-align: middle;
  }
  .header__icons-icon:not(:last-child) {
    margin-right: 1em;
  }
  .header__menu {
    display: none;
  }
}
.footer {
  padding-top: 1.5em;
}
.footer > :not(:last-child) {
  padding: 0em 1.5em;
}
.footer__logo {
  display: inline-block;
  width: 100%;
  margin-bottom: 2em;
}
.footer__logo-img {
  background-color: #BEAD8E;
  width: 5em;
  height: 5em;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
  padding: 1.2em 0em;
}
.footer__logo-img img {
  display: block;
  margin: 0 auto;
  filter: invert(1);
  width: 2em;
  height: 2.65em;
}
.footer__logo-title {
  display: inline-block;
  vertical-align: middle;
  width: 8.5em;
  height: 3.5em;
}
.footer__text {
  color: #777777;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: 2em;
}
.footer__icons {
  width: 81%;
  margin-bottom: 2em;
}
.footer__icons-icon {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  vertical-align: middle;
}
.footer__icons-icon--bg-beige {
  background-color: #BEAD8E;
}
.footer__icons-icon img {
  padding: 0.5em 0em;
  margin: 0 auto;
  display: block;
}
.footer__services {
  margin-bottom: 2em;
}
.footer__services-title {
  color: #222;
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1.5em;
}
.footer__services-list {
  display: inline-block;
  vertical-align: top;
  padding-left: 0.8em;
  list-style-type: "+ ";
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 3rem;
  color: #777;
}
.footer__contact {
  margin-bottom: 1em;
}
.footer__contact-title {
  color: #222;
  font-family: "Old Standard TT", serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1.5em;
}
.footer__contact-info section {
  padding: 1em 0em;
}
.footer__contact-info-icon {
  display: inline-block;
  margin-right: 1em;
}
.footer__contact-info-text {
  display: inline-block;
}
.footer__contact-info-text p {
  font-weight: 400;
}
.footer__contact-info-text p:nth-child(1) {
  font-family: "Old Standard TT", serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 0.2em;
}
.footer__contact-info-text p:nth-child(2) {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
}
.footer__directives {
  background-color: #f8f8f8;
  padding: 1em 1.5em;
}
.footer__directives-text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.1em;
}
.footer__directives-text:nth-child(1) {
  margin-bottom: 1em;
}

.banner {
  background-color: #333333;
  position: relative;
  padding: 0em 0.5em;
  padding-top: 8em;
  padding-bottom: 5em;
}
.banner__title {
  color: #FFF;
  font-family: "Old Standard TT", serif;
  font-size: 3.5em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.banner__text {
  width: 50%;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 0.8em;
  font-weight: 700;
  margin-bottom: 2em;
}
.banner__button {
  display: block;
  width: 20em;
  height: 4em;
  border: 0em;
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 0.85em;
  font-weight: 700;
  background-color: #bead8e;
}
.banner__button:not(:last-child) {
  margin-bottom: 2em;
}
.banner__button--transparent {
  background-color: transparent;
  border: 0.15em solid rgba(255, 255, 255, 0.3294117647);
}

.about-us {
  /*
      about us archivo 700 13px
  */
}
.about-us__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
}
.about-us__text {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.about-us__button {
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  background-color: #BEAD8E;
}
.about-us__features-img {
  width: 270px;
  height: 300px;
}
.about-us__features-feature-img {
  width: 68px;
  height: 50px;
}
.about-us__features-feature-title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 30px;
}
.about-us__features-feature-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.checking {
  background-color: #222222;
}
.checking__label {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  size: 1rem;
}
.checking__input {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.checking__button {
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  background-color: #BEAD8E;
}

.facilities__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
}

.intro-video {
  background-color: #222;
}
.intro-video__title {
  color: #FFF;
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
}
.intro-video__text {
  color: #C2C2C2;
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.intro-video__video {
  width: 80%;
  height: 80%;
}
.intro-video__button {
  color: #FFF;
  font-family: "Archivo", sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #BEAD8E;
}

.menu__title {
  font-family: "Old Standard TT", serif;
  font-size: 56px;
  font-weight: 400;
}
.menu__article {
  display: flex;
  gap: 10px;
}
.menu__article-img {
  width: 40px;
  height: 40px;
}
.menu__button {
  color: #FFF;
  background-color: #BEAD8E;
}

.rooms__title {
  font-family: "Old Standard TT", serif;
  font-weight: 400;
  font-size: 56px;
}

.stats {
  background-color: #222;
}
.stats__article-img {
  width: 24px;
  height: 24px;
}
.stats__article-title {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 700;
}
.stats__article-title-plus {
  font-size: 14px;
}
.stats__article-text {
  color: #FFF;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #999999;
}

/*font-family: Archivo;
font-size: 1rem;
font-weight: 600;
color: #111111;

font-family: Archivo;
font-size: 13px;
font-weight: 700;*/
.rooms__swiper, .facilities__swiper, .menu__swiper {
  width: 80%;
  height: 100px;
}

html, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.upper__case {
  text-transform: uppercase;
}

/*# sourceMappingURL=styles.css.map */
