.room-details__amenities {
    padding: 0em 1.25em;
    margin-bottom: 3em;

    &-title {
        font-family: $font-standard;
        font-size: 1.85rem;
        font-weight: 400;
        line-height: 1.85rem;
        letter-spacing: 0rem;
        margin-bottom: 1em;
    }

    &-list {
        list-style-type: none;
        display: inline-block;
        &:nth-of-type(1) {
            margin-right: 1em;
        }

        &-item {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }

            &-img {
                margin-right: 0.25rem;
            }

            &-text {
                color: $text-color-secondary;
                font-family: $font-roboto;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.1rem;
                letter-spacing: 0rem;
                vertical-align: top;
            }
        }
    }
}
