@import './home/banner.scss';
@import './home/about-us.scss';
@import './home/checking.scss';
@import './home/facilities.scss';
@import './home/intro-video.scss';
@import './home/menu.scss';
@import './home/rooms.scss';
@import './home/stats.scss';

.facilities--dark {
    color: $color-white;
    background-color: $bg-black;
}

.facilities__swiper--dark {
    background-color: $bg-grey;
}

.banner__pagination {
    max-width: 12.5rem;
    width: 100%;
    background-color: $color-white;
    margin-right: 0;
    margin-left: auto;
    padding: 1em 1em;

    &-inner {
        text-align: center;
        margin: 0 auto;
        width: 80%;
    }

    span {
        font-family: $font-archivo;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1rem;
        letter-spacing: -.1rem;
        color: $color-black;

        &:nth-child(3) {
            color: $bg-beige;
        }

        &:not(:last-child) {
            margin-right: 1em;
        }
    }
}