.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    background-color: #f8f8f8;
    color: #111;
    cursor: auto;
    pointer-events: none;
    opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
    background-color: $bg-beige;
    width: 2.25rem;
    height: 2.25rem;
    color: $color-white;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 0.8rem;
}



.swiper-pagination-bullet-active {
    background: $bg-beige;
}

@media (min-width: 1000px) {
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-size: 1.5rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        background-color: $bg-beige;
        width: 4.4rem;
        height: 4.4rem;
        color: $color-white;
    }

    
}


