.about__cards {
    padding: 0em 1.25em;

    .about__card {
        display: inline-block;
        width: 9.9rem;
        height: 9.9rem;
        text-align: center;
        padding: 2.5em 0em;
        margin-bottom: 1em;

        &:not(:nth-child(2), :nth-child(4)) {
            margin-right: 0.5rem;
        }

        &-img {
            width: 3.5rem;
            height: 3.5rem;
            margin-bottom: 1em;
        }

        &-text {
            font-family: Archivo;
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 0.85rem;
            letter-spacing: 0.15rem;
            text-transform: uppercase;
        }

        &--beige {
            background-color: $bg-beige;
            color: $color-white;
        }
    }
}
